<mat-card>
  <mat-card-header class="card">
    <div mat-card-avatar></div>
    <mat-card-title class="card__title">Blog Title: {{blog.title}} </mat-card-title>
    <mat-card-subtitle>Date: {{blog.timestamp | dateFormat}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/random-img.jpg" alt="Photo of a random blog">
  <mat-card-content class="card__content">
    <p>
      {{blog.text}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="editBlog(blog)">Edit</button>
    <button mat-raised-button color="warn" (click)="deleteBlog(blog)">Delete</button>
  </mat-card-actions>
</mat-card>