<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Title: {{blog.title}} </mat-card-title>
    <mat-card-subtitle>Date: {{blog.timestamp | dateFormat}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/random-img.jpg" alt="Photo of a random blog">
  <mat-card-content>
    <p>
      {{blog.text}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="editBlog(blog)">Edit</button>
    <button mat-button (click)="deleteBlog(blog)">Delete</button>
  </mat-card-actions>
</mat-card>